@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Playfair Display', serif;
}

/* Hide scrollbar for cleaner look */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(59, 130, 246, 0.5);
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

.animate-shimmer {
    animation: shimmer 8s linear infinite;
}

/* Shine Animation */
@keyframes shine-move {
    0% {
        background-position: -200% center;
    }

    100% {
        background-position: 200% center;
    }
}

.animate-shine-gold {
    background: linear-gradient(110deg,
            transparent 30%,
            rgba(255, 215, 0, 0.4) 45%,
            rgba(255, 215, 0, 0.2) 50%,
            transparent 70%);
    background-size: 200% auto;
    animation: shine-move 3s linear infinite;
}

.dark .animate-shine-gold {
    background: linear-gradient(110deg,
            transparent 30%,
            rgba(255, 215, 0, 0.2) 45%,
            rgba(255, 215, 0, 0.1) 50%,
            transparent 70%);
    background-size: 200% auto;
    animation: shine-move 3s linear infinite;
}